[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=vagrant
ExecStart=/bin/sh -c '/app/kafka/bin/kafka-server-start.sh /app/kafka/config/server.properties > /app/kafka/kafka.log 2>&1'
ExecStop=/app/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target